@model IEnumerable<ASPNet_Day1.Models.Person>
@{
    ViewData["Title"] = "List male person";
}

<h1>Male Person List</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Birthplace</th>
            <th>Date of Birth</th>
            <th>Is Graduated</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Gender</td>
                <td>@person.BirthPlace</td>
                <td>@person.DateOfBirth.ToShortDateString()</td>
                <td>@(person.IsGraduated ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>
